:root {
    
    --aquarium: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 916'%3E%3Cpath fill='%23010101' fill-rule='evenodd' d='m4 392-4 1v30l1 29 3-16 5-23c3-12 4-17 3-20s-3-4-8-1m1569 0c-2 2-1 7 1 17a443 443 0 0 1 10 43l9 11 7 8v-20c0-14 0-20-2-25l-2-12c-1-15-3-18-11-20l-7-3c-3-1-5-1-5 1M63 462c-8 5-12 9-13 11l1 10c1 18-1 30-6 34-2 1-2 1-4-2-1-2-2-5-2-14s-1-13-3-16c-5-13-13-15-18-5-2 5-2 9 3 16s9 20 9 27-4 23-7 27c-2 4-9 9-17 11l-6 1v10c0 11 0 11 9 9l20-10 9-14 17-30c16-24 19-30 19-43 0-10-4-22-7-23-1-1-3 0-4 1m1454 0c-5 3-6 10-6 22 0 14 1 19 17 42a332 332 0 0 1 27 45c6 4 17 9 23 10l8 2-1 9c-2 11-1 17 1 22l1 5c0 2-23 1-25 0l-1-11c0-11-2-17-6-19-3-2-9 0-11 3-2 2-2 3-2 9l3 13c3 7 3 9 0 9l-5 3c-2 3-3 3-4 2l-10-19 2-4c4-3 8-11 8-16s-4-9-14-13-11-4-8 9l1 11c-3-2-5 0-9 4l-5 4-16-12v-34c-2-6-7-7-13-5l-2 1v9c3 42 3 42 8 47l10 5 7 3-1 4c-1 6 0 20 2 28 1 6 2 7 0 7-5 0-7 7-10 29-3 14-3 15-7 18l-3 3-1-12-2-13c0-2-3-5-6-8-5-4-6-6-7-10-2-7-2-8-1-8 2 0 7-7 9-13s1-13-1-30c-2-13-4-18-7-20-4-3-8 5-8 15l2 18 2 15c-2 1-8-7-12-14l-9-23c-6-20-8-22-17-16-12 8-11 14 5 37 12 19 22 38 18 38l-17-13c-9-8-11-9-12-3 0 7 11 26 18 30v2l-1 4c0 4-2 15-6 29-6 21-6 27 1 33l4 4-2 2-10 7-8 6 3-4c3-7 6-30 3-34h-2c-2 1-2 1-2-1 0-4-2-8-4-9-6-1-13 13-16 36l-1 6-1-4-6-8c-4-5-4-5-5-16l1-14 11-8c10-8 11-9 11-22 0-9-1-13-4-11-1 0-5 4-8 9-10 14-9 13-9 7l5-30c6-28 7-34 5-41-2-8-11-14-15-11v21l2 19-5-7c-6-8-11-13-15-13-3 0-8 4-8 6l8 13c13 16 15 22 13 39l-1 10-4 1-6 2c-1 1-2 1-4-2-5-4-7-4-9 0v7l5 8 2 5 2 11 2 8-5 11c-4 9-6 12-6 9l-2-1c-3-2-4 1-5 8 0 5 0 7-2 8-1 2-2 2-2-5 0-6 0-8 4-17 5-12 5-15 1-18-3-3-8-4-9-2-2 3-3 1-1-2 2-5 2-14-1-23l-7-19c-5-15-5-18 0-24l3-8c0-6-15-28-18-27v20c2 12 2 18 0 19s-7-2-14-9c-8-7-12-9-18-10-5 0-6 0-9 2l-2 3 2 3 11 8c13 8 21 15 28 26 7 13 9 16 7 18l-3 4-1 3-11-4c-10-5-14-7-17-5-3 1-4 7-2 12 2 4 2 5 0 6-3 1-3 7 0 13l5 12 2 7-2 1c-5 3-5 11 0 17 4 5 2 9-10 25l-6 8-2-4-2-6-2-4c-2-3-3-5-3-11 0-8-1-12-6-28-3-5-3-8-2-11 1-9 4-19 9-31 8-18 9-20 6-24-2-3-15-16-17-16-3 0-3 4-5 26a1281 1281 0 0 1-3 18c-3-10-6-13-7-9-1 3-3 2-4-1s-9-11-11-11c-3 0-5 3-5 6 0 4 3 13 8 26 4 10 4 12 3 15-2 7-7 4-15-10-6-10-8-13-14-16-6-2-10-3-12 0-4 3-2 7 9 19l14 19-1 1-6 2c-5 3-8 8-9 18v8l-4-2c-4-2-4-2-7-1-1 1-3 3-3 5a603 603 0 0 0-3 4c-2-2-4-1-7 2-4 4-5 7-5 16v8h-28l9-19 14-17c11-12 14-18 14-22 0-3-6-15-10-21-5-6-7-4-13 15-4 12-4 11-6 10-3-2-7 0-11 4-3 4-4 4-4 2 0-5-4-15-7-17-4-3-5-3-8 3-2 4-2 21-1 32v8c-2 0-3-5-4-15l-2-15c-2-6-1-11 1-17 3-6 8-10 17-16 6-4 7-5 7-9l-1-14c-3-17-8-17-15 1l-12 24h-3c-1-3 0-16 2-25l2-12c0-4-3-7-8-8-8-1-10 6-10 33-1 20 0 24 4 30 4 5 6 9 8 19a157 157 0 0 1 0 43c-1 6-1 6-5 6l-5 1 5-13c4-8 3-10-4-10-8 1-12 6-12 18 0 7 0 7-10 7l-37 8-3 1 2-2 8-5c7-4 10-8 10-13-1-4-4-8-7-9-3 0-7 4-12 14-3 6-5 9-7 9s-2 0-4-13c-3-18-3-17 2-22l9-9c4-3 5-4 5-7 0-6-2-15-4-18l-1-2-3 2-3 6-9 19c-3 2-4-3-2-13 3-13 3-14 1-16-3-3-6-3-8-1-3 3-4 15-4 28 1 10 1 11 4 17 5 8 7 14 7 25 0 14 1 13-16 19a794 794 0 0 0-56 21l-1-8c-1-7-3-11-5-11s-8 7-10 10c-1 3-1 6 1 11l2 4-12 4c-29 11-53 17-80 20l-125 5h-36v-3l-2-5c-2-2-2-2-7 3s-6 5-10 5l-5-1c0-2 6-15 13-25l6-12c0-3-2-8-6-13-5-6-8-3-10 10-1 8-4 13-10 23l-6 11c-2 5-2 6-6 6-3 0-4 0-6-3l-5-3c-2-1-5 1-5 3l-2 2c-2 0-3-1-4-5-3-14-10-18-23-11l-5 3 3-6c4-10 4-18 0-31-3-10-3-12-3-23 0-14 1-18 6-26l3-5v-17c0-13 0-17-2-20-1-3-2-3-4-3l-5 2c-2 2-2 2-1 8 3 9 3 15 3 19-1 3-1 3-3 2-2-2-5-9-8-18-4-8-6-10-8-8-2 3-3 8-4 16v7l5 3c6 4 12 10 13 14l-1 8-2 13c-1 11-2 11-7 3-11-20-17-22-20-8-1 5 1 8 8 13 12 7 17 13 20 23l2 12c0 5 0 7-4 15l-5 13v3h-6l-7-1c0-1 3-10 5-12 3-3 5-11 5-18s-2-9-9-9l-8-1c-3-3-7-4-9-2-2 3-2 4-1 10 2 6 4 21 2 21-2 1-3-2-7-14-3-10-3-12-2-13 3-3 6-11 6-15 0-9-6-17-10-12l-1 6c0 6-3 14-5 14-4-1-6-11-6-26 0-12-2-17-7-20-7-2-11-1-11 3l3 9 4 11v4l-3-1c-2-1-3-2-5-6-3-12-4-22-4-33 1-16 3-25 9-33 6-9 6-12 6-33-1-20-2-25-5-29-2-2-3-2-6-2-8 1-10 5-6 18 2 11 3 25 1 27s-6-5-12-19c-6-15-9-20-12-18-3 1-5 10-5 21v9l7 6c9 6 15 13 17 19v11l-2 18c-1 9-2 14-4 14v-9c2-19 0-35-5-36-3-2-11 11-11 19 0 2 0 2-4-2-5-4-8-6-11-4-2 1-2 2-6-10-6-19-8-21-13-15s-10 18-10 21 1 6 8 13c23 28 30 39 28 51v6l-5 1c-7 0-7 2-5 8l2 9c0 5-2 12-3 12l-8-2-7-2v-5c0-6-3-12-6-13-1 0-3-1-3-3-2-3-2-3 1-5 4-4 7-12 7-19 0-10-1-14-5-17l-5-3c-2 1-3 0-4-3-3-6-6-7-11-4l-4 2v-8c-1-10-3-15-9-18l-6-2-1-1c0-1 9-14 17-22 9-11 10-15 4-17-4-2-11 1-16 5l-7 12-8 11c-3 4-6 4-8 0-1-2-1-3 2-9 9-21 12-39 5-39-3 0-13 10-13 13l-2-1c-2-2-2-2-3-1l-4 8c-3 9-4 8-5-18 0-21-1-24-4-24-2 0-17 14-18 17-2 4-1 5 6 21 11 25 12 35 7 48-4 10-5 20-4 27 1 4 0 5-1 6l-5 9c-3 8-3 8-5 6a397 397 0 0 0-16-24c-2-4-2-4 1-7 5-6 5-15 0-17-2-2-3-1 4-17 5-14 5-15 2-17-2-1-2-2 0-4 2-4 1-11-2-13-4-3-6-2-17 3l-12 5-1-3-3-4c-2-2-1-4 7-18 7-10 15-18 26-24 5-3 10-6 11-8 6-5 2-11-7-10-7 1-10 3-19 11-8 7-12 9-14 8s-1-11 1-21c2-11 2-15 1-17-2-2-4 0-9 7-6 8-10 16-10 20l3 6c5 6 5 12 1 24l-7 18c-3 11-4 20-1 25 1 3 0 4-1 2-2-2-7-1-9 1-5 4-6 5-1 16 5 10 5 11 5 19s-1 8-2 6c-2-1-2-3-3-8 0-8-2-10-5-8s-3 2-4-1l-5-10-3-8 2-8 2-11 3-6c4-6 5-11 4-14-2-4-5-4-9 0-2 3-3 3-4 2l-6-2-4-1-1-11c-2-16 0-22 14-40l7-10c1-3-3-7-7-7s-9 4-15 12l-6 7 2-19v-20c-4-3-13 3-15 11-2 6-1 15 4 42 5 25 7 35 5 34l-6-9c-7-10-10-14-12-12-2 1-2 3-2 10 0 14 1 15 11 23l11 8 1 14c-1 11-1 12-4 14l-6 8-3 5-1-9c-1-10-4-21-7-26-5-7-10-7-12 0 0 3-1 4-2 4-3-2-4 7-2 22 1 10 3 13 12 22 10 10 10 12 10 26v27l-4-3-10-8-5-4 2-3c3-3 3-7-1-10-3-4-8-4-10-1-2 2-3 2-4 1-2-1-2-2-2-8 1-12 0-16-3-14l-5 5-2 6-5-4-4-3 4-7c3-3 6-9 7-13 2-4 4-7 7-9 5-4 7-6 8-11s0-13-4-27l-6-27-1-4c-1 0 1-3 4-5 9-9 17-29 12-31-2-1-5 2-13 9l-14 11c-4 0 6-19 18-37 16-24 17-31 5-38-9-6-11-3-17 16-4 13-6 19-11 26-3 6-9 12-10 11l2-17c2-15 2-18 1-23s-3-9-5-9-5 4-6 7c-2 3-5 28-5 35l2 10c1 6 6 12 8 12l1 2c0 5-4 12-9 17-7 6-8 9-8 22s-3 20-6 13l-4-20-3-23c-2-5-5-10-8-10l-1-2 3-9c1-8 1-20-1-26 0-2 1-2 6-4 14-4 15-6 17-33 3-29 3-28-1-30-3-1-8-1-9 1-3 2-3 6-3 21v17l-9 7-7 5-4-4c-5-5-8-6-10-4l1-13c2-10 2-11-7-7-13 5-17 9-15 17 1 4 6 11 8 13l2 4-8 16-2 2-5-3-6-3v-2c8-19 8-30-2-32-7-1-11 5-12 20l-1 11-12 1H0v14l1 13 4-2 12-4 9-3c2-1 2-1 2 1l8 9c13 12 14 13 15 23 2 9 2 13-1 13l-7-4c-8-5-11-6-15-4s-6 6-6 11v4l-1-4c-3-5-6-4-14 2l-7 5v222h1601l-1-187V543l-2-2c-5-4-8-1-9 12-1 9-1 9-4 9-5 0-16-4-20-8-3-3-4-5-7-14-3-7-4-12-4-16 0-10 4-20 10-30 4-6 5-8 2-13-4-11-11-10-18 2-2 5-3 7-3 18 0 9-1 12-2 14-3 4-5 3-8-3l-1-23v-18l-6-5c-7-6-8-6-11-4M0 634c0 7 1 10 1 6a171 171 0 0 0-1-6m65 2c-3 5-5 12-5 16 0 8 5 13 9 10 2-3 2-20 0-25l-2-4-2 3m1450 3-2 12c0 11 4 15 8 10 3-2 3-4 3-8 0-5-3-14-6-18l-2-2-1 6m41 0-9 10c-9 8-15 15-12 13l29-16c7-4 9-5 5-5l-8-2h-5M80 680l-8 38-6 9-4 5 12 5a321 321 0 0 1 30 14c1-1-1-3-4-7-5-5-7-8-6-12 1-1 0-4-1-7-4-6-6-13-9-30a163 163 0 0 0-4-15m55 5c-5 1-8 2-9 5-1 2-1 2 1 4 1 1 2 3 3 19l1 19 6-11 8-12-2-7-3-13v-6l-5 2m1310 1-3 12-4 10 3 3 7 10c5 10 6 8 7-11l2-16 1-4c-1-3-3-4-9-5l-5-2 1 3M24 695c2 4 0 8-6 13l-4 3 3 3c2 3 17 8 21 8 2 0 6-9 7-16 0-7-1-8-10-9-6 0-8-1-10-3l-2-1 1 2m261 32-6 1 2 9c4 16 4 16 6 7a62 62 0 0 1 6-18l-8 1m1006-1 2 5 4 11 2 8 4-15 2-5c0-1-1-2-5-2a106 106 0 0 1-9-2M267 747c-2 6-2 11 0 21l2 11 5-5 6-5-6-12c-5-9-7-12-7-10m1043 10-6 12 12 10 2-9c1-8 1-21-1-23l-7 10m-80-2v50c-1 6-1 6 1 6 3 0 3 1 7-15 5-20 4-28-4-41l-3-4-1 4m-882 4c-4 7-5 8-5 16 0 9 1 13 9 44 2 6 3 12 3 20l1 11h3c4 0 5-1 4-7l-1-13c0-7 0-9-2-11-5-7-6-11-6-27 1-28 1-38-1-39-1-1-2 1-5 6m-129 14c-2 14-1 15 4 9 4-5 5-6 3-6-3 0-5-4-6-8s-1-4-1 5m1145-5c-1 5-3 8-6 8-2 0-1 1 3 6 5 6 6 4 4-9 0-9-1-9-1-5m-992 9c-2 10-2 13-1 17 1 2 2 3 4 3l4-1c2-2 2-2 1-9-1-4-2-10-4-13l-3-6-1 9m836-4c-2 5-4 13-4 19 0 3 2 5 6 5s5-7 2-21l-2-8-2 5m-923 13-4 3c-1 0 1 3 4 5l5 4 2-3c1-2 1-2-1-6l-2-4-4 1m1008 2c-2 4-2 4 0 6l2 3 4-4 4-4-4-3-4-2-2 4m-1028 9c-3 2-3 2-3 14 0 13 1 21 4 31 2 6 3 7 3 4 0-4 3-4 9 2 5 4 8 5 7 2-4-13-5-19-2-27 3-12 7-9 14 14l5 16h4l5-3 3-3 9-4-12-16c-5-4-15-9-24-12s-13-7-16-14l-2-6-4 2m1048 2-1 3 4-1 5-1c2-1 2-1-1-3-5-3-5-3-7 2m-1080 0-3 4 3 1c4 1 4 4 0 8l-2 4 4 4 5 5 1-10c1-10 1-10-1-14l-3-5-4 3m941 2 2 8c1 4 1 4 5 4 3 0 4 0 4-3l2-4-2-3-7-3-4-3v4m-770 0-7 4 2 5c2 9 5 10 7 4l4-15-6 2m-71 6-3 8-2 6 2 3c6 7 12 12 13 12s0-6-5-19c-4-11-5-12-5-10m136 10c-4 16-3 23 5 37l3 5 2-5c2-4 3-8 3-13 0-6 0-7-2-10-3-5-3-5-2-8 1-1 1-3-2-9l-4-7-3 10m640-6-2 4 4 1h3v-4c-1-5-2-5-5-1m-729 3-2 7c-1 4 0 5 3 8 5 5 11 9 15 9 4 1 4-1-1-6-6-5-8-8-11-15l-2-5-2 2m-169 16-2 3c0 1 10 6 19 9 4 2 5 2 5 0l1-2-5-2c-8-2-13-5-14-8-2-3-2-3-4 0m168 15 1 3 8 1h9l-5-2-9-3c-4-1-4-1-4 1m110 20-4 8 22 6-2-9c-3-7-4-9-8-11l-4-2-4 8m85 20c-2 4-1 5 4 5h4l-3-4-4-4-1 3'/%3E%3C/svg%3E");

    --font: Arial, Helvetica, sans-serif;
    --blue: #a041ff;
    --green: #53c040;
    --yellow: #ffc04a;
    --pink: #fc5a5a;
}


* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: var(--font);
}


body {
    --blur: 0;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #00a2ff, #a3cee7);

    &::before {
        content: "404";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 40vmin;
        font-weight: 900;
        width: 100%;
        height: 100%;
        background-image:
            var(--aquarium),
            repeating-conic-gradient(from 0 at 80% -10%, #ffffffb3 0% 9deg, transparent 0 22deg);
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
        opacity: 0.5;
        filter: blur(var(--blur));
    }

}



.bubble-field {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-around;
    position: relative;
    overflow: hidden;

    > div {
        position: relative;
        display: inline-block;
        top: 100%;
        animation: bubble-rise 2s cubic-bezier(0.3, 0, 0.7, 0.5) 0s infinite normal;


        > div {
            border-radius: 50%;
            width: 3vmin;
            height: 3vmin;
            opacity: 80%;
            box-shadow: 0 0 1.2vmin 0.5vmin inset white;
            animation: bubble 2s ease 0s infinite normal;
            filter: blur(var(--blur));

            &:after {
                content: '';
                position: absolute;
                background-color: white;
                width: 1.3vmin;
                height: 0.8vmin;
                top: 10%;
                right: 21%;
                border-radius: 50%;
                transform: rotateZ(30deg) scaleY(0.7);
                filter: blur(0.2vmin);
            }
        }
    }
}


.fish {
    --color: aquamarine;
    --size: 18vmin;
    --status: playing;

    position: absolute;
    left: calc(0px - var(--size));
    width: var(--size);
    height: calc(var(--size) * 0.555);

    &.blue { --color: var(--blue); }
    &.green { --color: var(--green); }
    &.yellow { --color: var(--yellow); }
    &.pink { --color: var(--pink); }

    > :nth-child(1) {
        position: absolute;
        left: 35%;
        top: calc(var(--size) * 0.078);
        width: 65%;
        aspect-ratio: 23/15;
        border-radius: 50%;
        background-color: var(--color);
        box-shadow: 0 calc(0px - (var(--size) * 0.05)) calc(var(--size) * 0.05) inset #00000045;
        transform: skewX(5deg) skewY(-10deg);

        &::before {
            content: "";
            width: 12%;
            aspect-ratio: 1/1;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            right: 10%;
            top: 30%;
        }
    
        &::after {
            content: "";
            width: 6%;
            aspect-ratio: 7/9;
            background-color: black;
            position: absolute;
            border-radius: 50%;
            right: 11%;
            top: 32%;
        }

    }

    > :nth-child(2) {
        position: absolute;
        left: 55%;
        top: calc(0px - (var(--size) * 0.05));
        width: 16%;
        aspect-ratio: 14/25;
        border-radius: 20% 50%;
        background-color: var(--color);
        box-shadow: calc(var(--size) * 0.02) calc(0px - (var(--size) * 0.04)) calc(var(--size) * 0.04) inset #00000080;
        transform: rotate(80deg) skewX(-23deg);
    }

    > :nth-child(3) {
        position: absolute;
        left: 11.5%;
        top: calc(var(--size) * 0.24);
        width: 28%;
        aspect-ratio: 43/50;
        border-radius: 40% 50%;
        background-color: var(--color);
        box-shadow: calc(var(--size) * 0.02) calc(0px - (var(--size) * 0.06)) calc(var(--size) * 0.025) inset #00000080;
        transform: rotate(25deg) skewX(-18deg) skewY(-15deg);
        animation: tail-fin 1s ease 0s infinite normal;
        animation-play-state: var(--status);

        &::before {
            content: "";
            z-index: 9;
            position: absolute;
            left: -23%;
            top: -15%;
            width: 90%;
            aspect-ratio: 5/6;
            border-radius: 40% 50%;
            background-color: var(--color);
            box-shadow: calc(var(--size) * 0.02) calc(0px - (var(--size) * 0.06)) calc(var(--size) * 0.025) inset #00000080;
            transform: rotate(85deg);
        }
    }

    > :nth-child(4) {
        position: absolute;
        left: 56%;
        top: calc(var(--size) * 0.28);
        width: 20%;
        aspect-ratio: 33/38;
        border-radius: 50% 40%;
        background-color: var(--color);
        box-shadow: calc(var(--size) * 0.02) calc(0px - (var(--size) * 0.06)) calc(var(--size) * 0.025) inset #00000080;
        transform: rotate(25deg) skewX(-18deg) skewY(-15deg);
        animation: side-fin 2s ease 0s infinite normal;
        animation-play-state: var(--status);
    }

    > :nth-child(n + 5):nth-child(-n + 8) {
        position: absolute;
        width: 12%;
        aspect-ratio: 7/8;
        border-radius: 39%;
        box-shadow: calc(var(--size) * 0.015) calc(0px - (var(--size) * 0.015)) calc(var(--size) * 0.025) inset #00000040;
        transform: rotate(22deg) skewX(-3deg) skewY(-10deg);
    }

    > :nth-child(5) {
        left: 48%;
        top: calc(var(--size) * 0.16);
    }

    > :nth-child(6) {
        left: 58%;
        top: calc(var(--size) * 0.11);
    }

    > :nth-child(7) {
        left: 68%;
        top: calc(var(--size) * 0.12);
    }
    
}


@keyframes tail-fin {
    0%   { transform: rotate(25deg) skewX(-18deg) skewY(-5deg) translateX(0); }
    50%  { transform: rotate(25deg) skewX(-18deg) skewY(-25deg) translateX(10%); }
    100% { transform: rotate(25deg) skewX(-18deg) skewY(-5deg) translateX(0); }
}


@keyframes side-fin {
    0%   { transform: rotate(15deg) skewX(-18deg) skewY(-15deg); }
    50%  { transform: rotate(35deg) skewX(-18deg) skewY(-15deg); }
    100% { transform: rotate(15deg) skewX(-18deg) skewY(-15deg); }
}


@keyframes bubble-rise {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-110vh); }
}


@keyframes bubble {
    0%   { transform: translateX(50%); }
    50%  { transform: translateX(-50%); }
    100% { transform: translateX(50%); }
}